.eulogy-image {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}

.poem {
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
}

.poem__title {
    font-size: 1.6em;
    font-weight: bold;
}

.poem__attribution {
    text-align: right;
}