.eulogy-image {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}

.poem {
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    @media (max-width: 786px) {
        margin-top: 15px;
        text-align: left;
    }
}

.poem__title {
    font-size: 1.6em;
    font-weight: bold;
}

.poem__attribution {
    text-align: right;
    @media (max-width: 786px) {
        text-align: left;
    }
}