<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url"                content="https://rememberingpatrick.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Patrick Lobsinger" />
    <meta property="og:description"        content="Remembering a great father, brother and son." />
    <meta property="og:image"              content="https://rememberingpatrick.com/pat-1.jpg" />

    <title>Remembering Patrick Lobsinger</title>
</head>
<body>
    <div id="app"></div>
</body>
</html>